[2018-11-01 11:54] jawadkho opened #1 "Uploading in 'High Quality'"
Does this allow us to upload photos/videos in Google Photo's 'high quality' as opposed to the original quality?

****

[2018-12-18 05:34] jfschmakeit commented on #1
This is not currently supported as part of the Google Photos Library API. There's a feature request open on the issue tracker for the Library API, please 'star' it there to be notified of any updates: https://issuetracker.google.com/111193036

(This feature request is not specific to just the Java client library, but the Google Photos Library API, I'll close it here.)

[2018-12-18 05:34] #1 closed

[2018-12-21 11:42] pompe84 opened #2 "Android authentication"
Hi, how would one authenticate when using android. Can't really find any tutorials.

[2018-12-29 00:30] tao1 opened #3 "video duration"
Hello,

I can't find how to get video duration in API. Any clue ?

Kind regards,

Laurent

[2018-12-29 00:32] tao1 opened #4 "photo location"
Hello,

I can't find how to get photo location in API. Any clue ?

Kind regards,

Laurent

[2018-12-29 02:57] krisu7 commented on #2
Unfortunately you have to use REST api. You have to log user in using Google Sign-In, request appropriate scopes, then get token from GoogleSignInAccount.getIdToken. You can learn more here: https://developers.google.com/identity/sign-in/android/start-integrating
When you have your token, append it to each api request you make. I used Retrofit to call REST api. You must remember that each token ha

[2019-02-03 10:54] erickogi commented on #2
@krisu7  Hi.. I am facing issues using the photos api in android. I would really appreciate your help on this implementing the library using either rest or java client library.
Thank you.
email : erickogi14@gmail.com

[2019-02-05 11:48] erickogi commented on #2
I was able to get a solutions to the issue
https://github.com/erickogi/AndroidGooglePhotosApi

Hope it helps

[2019-02-05 23:32] jfschmakeit commented on #3
The Google Photos library API does not return the duration of a video, but this sounds like a useful addition.

Could you please file a feature request on the API itself and outline how you would use this functionality? See the [support page](https://developers.google.com/photos/library/support/how-to-get-help#bugs-feature) in the developer documentation on how to file an issue against the API.

T

[2019-02-05 23:32] #3 closed

[2019-02-06 22:23] tao1 commented on #3
https://issuetracker.google.com/issues/123979425

[2019-02-10 16:06] hoangdangduy opened #6 "Can't upload video with type .mkv"
With file extension .mp4 upload don't have error but .mkv it's opposite.
When I debug I still see token exist in UploadMediaItemResponse but when run through BatchCreateMediaItemsResponse.getNewMediaItemResultsList() it return code of status is 3 with message: "NOT_IMAGE: There was an error while trying to create this media item."

Did I do something wrong or code don't support that file ?

![gith

[2019-02-12 18:30] hoangdangduy opened #7 "Error font file name"
My video file has name "xin chào các bạn.MP4". I set file name and description also are text "xin chào các bạn" but when I see information video on web interface it is error font. If I upload direct from browser it still show name right.

Check on web interface
![qa google photo client java 1](https://user-images.githubusercontent.com/8912039/52658715-50140080-2f2e-11e9-9649-e42afbdcfa13.png)

Cod

[2019-02-12 18:46] hoangdangduy opened #8 "Process upload still hold file after upload success"
I create application run 24/24. Then file was uploaded success, I want to delete file but it still was holded by process upload lead to an exception was throw. So, how the way to delete file when upload success and java application still run ?

My code upload is below.

![qa google photo client java 3](https://user-images.githubusercontent.com/8912039/52659744-a2562100-2f30-11e9-8fbd-71a90466130c.

[2019-02-12 19:57] panovvitalik opened #9 "No functional channel service provider found. Try adding a dependency on the grpc-okhttp or grpc-netty artifact"
Added:
implementation 'com.google.photos.library:google-photos-library-client:1.1.0'

Trying to exexecute this code:
PhotosLibrarySettings settings =
                    PhotosLibrarySettings.newBuilder()
                            .setCredentialsProvider(
                                    FixedCredentialsProvider.create(UserCredentials.newBuilder()
                                            .

[2019-02-12 20:14] #9 closed

[2019-02-13 18:04] panovvitalik opened #10 "Error when trying to list albums"
Code:
OAuth2Credentials credentials = OAuth2Credentials.create(new AccessToken(getAccessToken(), null));
            PhotosLibrarySettings settings =
                    PhotosLibrarySettings.newBuilder()
                            .setCredentialsProvider(FixedCredentialsProvider.create(credentials))
                            .build();
            PhotosLibraryClient photosLibraryClient =

[2019-02-13 18:23] #10 closed

[2019-02-14 05:41] panovvitalik opened #11 "Min SDK version?"
Is there a way to support api's lower than SDK 24?

For example methods:
UploadMediaItemResponse.getError().isPresent()
UploadMediaItemResponse.getUploadToken().get()
These calls need min SDK version: 24

Can it support for example sdk 23 or lower?

[2019-02-15 03:34] hoangdangduy opened #12 "Can do set thumbnail when upload video ?"
I don't find any document about set thumbnail when upload video.
If have document or code about that, please provide it or show for me.
Thanks so much.

[2019-03-06 10:27] bubbleguuum commented on #3
I'd really like to have this as well. It was available in the old Picasa Web API.

[2019-03-06 10:45] bubbleguuum opened #13 "How to request only specified fields in API reponses ?"
I want some requests to only return certain fields as explained here:

https://developers.google.com/photos/library/guides/performance-tips

How is it done with this API ?

[2019-03-11 04:52] jfschmakeit commented on #6
Is the file a valid video file?  It looks like the API was not able to verify the file. Are you able to upload the file via the Google Photos website or a mobile app?

What is the exact codec, dimensions, bit rate, etc. of the file? On Linux, you can use the tool `mediainfo` to get a list of details about the file.

[2019-03-11 04:59] jfschmakeit commented on #12
The thumbnail is automatically generated from the video file. The Google Photos Library API does not support setting a custom thumbnail for a video.

You could file a feature request for the API, outlining your exact use case and how you would like to use it. More details here: https://developers.google.com/photos/library/support/how-to-get-help#bugs-feature

[2019-03-11 04:59] #12 closed

[2019-03-11 18:47] hoangdangduy commented on #6
That video is a valid video. I try upload direct from website google photo and application About Backup and Sync was downloaded (https://www.google.com/drive/download/backup-and-sync/) together return success result, but with api return fail.

File test I uploaded to google drive. Please download and try it.
https://drive.google.com/open?id=13NrGvHS1Bq54aRdhq4Ng7ufIKu5lrItt

Hope you soon reply. T

[2019-03-12 03:44] jfschmakeit commented on #13
Unfortunately this feature is only supported by the HTTP REST endpoint and not this client library.

It is not possible to restrict the fields that are returned by the client library due to the underlying network architecture and how calls to the API are made.

[2019-03-12 03:44] #13 closed

[2019-03-12 08:21] bubbleguuum commented on #13
Thank you for letting me know. Not a huge deal but it would be great to have this functionality added if it provides a significant improvement in loading and processing times.

[2019-03-13 23:46] jfschmakeit commented on #7
Thanks for filing this issue!

Unfortunately the upload endpoint does not currently support non-ASCII filenames. (That's a limitation on the Google Photos Library API, not just this client library.)
This is definitely something we would like to address. We don't have a timeframe for this yet, but I'll update this issue as soon as I have any updates.

[2019-03-15 17:58] hoangdangduy opened #14 "How to grant permission access data don't need confirm on web interface when run on server command?"
@jfschmakeit  When I run my application on Window OS I will can interact with UI to grant permission but I want run it on server only have command. Do you have way to by pass it ?
Thanks!

![QA1](https://user-images.githubusercontent.com/8912039/54451813-46c4c080-4786-11e9-8992-6f17363ec0ae.png)
![QA2](https://user-images.githubusercontent.com/8912039/54451814-46c4c080-4786-11e9-81d5-3ea210991369.

[2019-03-16 05:00] panovvitalik opened #15 "Crashed in release. But Ok in debug"
When running in debug mode - everything ok.
But if I gneretaed apk and run app from play market - it will be crashed with following message:

Failed uploading photo to Google Photos.
Error cause:
java.lang.NoSuchMethodError: No static method join(Ljava/lang/CharSequence;Ljava/lang/Iterable;)Ljava/lang/String; in class Ljava/lang/String; or its super classes (declaration of 'java.lang.String' appea

[2019-03-17 07:06] panovvitalik commented on #15
I was cut off using of this "shi..." library from my project.
And reimplemented all work with direct REST calls. "Thank you"

So question is not actual.

[2019-03-17 07:06] #15 closed

[2019-03-17 07:18] panovvitalik commented on #9
I was cut off using of this "shi..." library from my project.
And reimplemented all work with direct REST calls. "Thank you"

So question is not actual.

[2019-03-17 07:18] panovvitalik commented on #10
I was cut off using of this "shi..." library from my project.
And reimplemented all work with direct REST calls. "Thank you"

So question is not actual.

[2019-03-18 00:21] jfschmakeit commented on #6
@hoangdangduy Can you share the snippet of code where you are making the call? Are you setting the filename as well? (That's always recommended when uploading video or image files.)

[2019-03-18 00:26] jfschmakeit commented on #8
You will need to explicitly call `close()` on the `RandomAccessFile` that you have created for the upload request. The best place to do this would be the `UploadMediaItemResponse` has been returned.  This library does not handle the opening or closing of files, that's up to the developer to handle correctly.
(For example, you may wish to retry the call with the same file, without closing it first.

[2019-03-18 00:26] #8 closed

[2019-03-18 00:31] jfschmakeit commented on #11
This library currently requires Java 8 (which is only available on Android API level 24 or higher).

However, I don't believe the Java 8 functionality is critical to the library and we might be able to rewrite those parts for Java 7 (which would give us support for a lower minSDK for Android).

Let's track this here, but pull requests are welcome too. :smiley:

[2019-03-18 00:34] jfschmakeit commented on #14
The Google Photos Library API requires user OAuth credentials. Service accounts or other non-interactive credenials are not supported. You can find more details on the [Authentication and Authorization page in the developer documentation](https://developers.google.com/photos/library/guides/authentication-authorization#what-scopes).

The only way to obtain these credentials is to prompt the user vi

[2019-03-18 00:34] #14 closed

[2019-03-18 05:01] #11 closed

[2019-03-18 17:21] hoangdangduy commented on #6
@jfschmakeit I still use code in your repository sample code.

	Optional<String> credentialsFile = FileUtils.readFileCredential();

	try {
		PhotosLibraryClient photosLibraryClient =
				PhotosLibraryClientFactory.createClient(credentialsFile.get(), REQUIRED_SCOPES);
		// Create a new upload request
		// Specify the filename that will be shown to the user in Google Photos
		// and the path to the

[2019-04-03 07:05] wmcalyj commented on #9
I have the same issue and cannot find any workaround.
Any idea how this can be solved?

[2019-04-03 07:28] panovvitalik commented on #9
I fixed it like this way, pls see code below:
BUT! many fllowing issues I can not resolve, here is no supporting :( .
And I advice to reimplement Your code to direct REST calls - I already did it.

implementation ('io.grpc:grpc-protobuf:1.10.1'){
        exclude group: 'org.apache.httpcomponents', module:'httpclient'
    }
    implementation ('io.grpc:grpc-stub:1.10.1'){
        exclude group: 'or

[2019-04-05 04:28] wmcalyj commented on #9
Thank you!
I tried the following dependencies and it works for me. Although I doubt you need it anymore at this moment :)

  <dependencies>

    <dependency>
      <groupId>com.google.photos.library</groupId>
      <artifactId>google-photos-library-client</artifactId>
      <version>1.1.0</version>
      <exclusions>
        <exclusion>
          <groupId>com.google.guava</groupId>
          <arti

[2019-04-05 04:56] panovvitalik commented on #9
Exactly :)

Next Your issues when using this library possibly can be:

https://github.com/google/java-photoslibrary/issues/15
https://github.com/google/java-photoslibrary/issues/11

And these issues I cannot resolve :(

[2019-04-05 07:17] wmcalyj opened #16 "No route to host: photoslibrary.googleapis.com/2607"
I am able to run my application locally.
But after running for 20-30 minutes, I received an exception saying "Exception in thread "main" com.google.api.gax.rpc.UnavailableException: io.grpc.StatusRuntimeException: UNAVAILABLE: io exception
" and the root cause is "No route to host: photoslibrary.googleapis.com/2607"

Any idea what's causing the issue and how this can be avoided?

Thanks in advance

[2019-04-15 01:52] jfschmakeit commented on #16
This sounds like a platform issue on your system. Can you still reach photoslibrary.googleapis.com when this error occurs? (e.g. can you still `ping hotoslibrary.googleapis.com`?) It looks like your system has lost network access?

Can you fix this issue by restarting your application or your device?

[2019-05-21 19:23] Serginho opened #18 "No way to add photos to an existing album"
at com.google.api.gax.rpc.ApiExceptionFactory.createException(ApiExceptionFactory.java:49)
	at com.google.api.gax.grpc.GrpcApiExceptionFactory.create(GrpcApiExceptionFactory.java:72)

There isn't any scope which allows us to do this. It's a pain in the ass because there is no way to organize photos into existing albums.

[2019-05-23 15:02] jakebacker opened #19 "Failed to create JWT helper."
When using the java-photoslibrary api with the following dependencies, the error
[code]
is thrown. This seems to be due to an out of date version of the `com.google.api:gax` dependency. Currently, version 1.43 is used. When I forced gradle to use version 1.44 of the api, the issue was resolved.

I reccomend changing the version from 1.43 to 1.44 on https://github.com/google/java-photoslibrary/blob

[2019-05-29 05:43] jfschmakeit commented on #19
Thanks - looks like something went out of date between the authentication library and gax-grpc. We'll bump all dependencies in the next library release that should be coming shortly.

[2019-06-06 17:48] AndroidDeveloperLB opened #21 "Question: Is it possible to get all photos and their coordinates on the world?"
This could be useful for showing a world/local map with all the photos...

[2019-06-13 04:55] jfschmakeit commented on #21
Getting the location of photos is not supported through the Google Photos Library API.
It looks like you have already opened an issue on the issue tracker for the API to track this further: https://issuetracker.google.com/134692577

[2019-06-13 04:55] #21 closed

[2019-06-13 04:57] jfschmakeit commented on #19
This should be fixed in the latest release - can you try this again with version `1.3.0`?

(Thanks for preparing a pull request, but unfortunately we had to verify and bump a few other dependencies at the same time.)

[2019-06-13 05:01] jfschmakeit commented on #18
Adding photos to existing albums is not supported by the Google Photos Library API.

There is a similar feature request on the API issue tracker here: https://issuetracker.google.com/110692941

You can 'star' this request to draw attention to it and be notified of any updates.

[2019-06-13 05:01] #18 closed

[2019-06-13 05:01] #16 closed

[2019-06-13 05:25] AndroidDeveloperLB commented on #21
Yes I wrote both.
Here I wrote in case it is actually possible, and there I wrote in case it's not.
And later I've found out that there is a similar request anyway.
I've noticed that even if developers wish to use a workaround of Drive sync, it won't be possible:
https://www.androidpolice.com/2019/06/12/google-drive-photos-sync/
That's why I thought it would be nice to have this.

[2019-06-13 13:02] jakebacker commented on #19
That seems to have fixed it, thanks for the help!

[2019-06-13 13:02] #19 closed

[2019-10-07 11:57] dakdroid opened #22 "Protobuf-java not compatible with Android"
Most Google libraries use protobuf-lite which isn't compatible with protobuf-java:

AGPBI: {"kind":"error","text":"Program type already present: com.google.protobuf.AbstractMessageLite$Builder$LimitedInputStream","sources":[{}],"tool":"R8"}

Libraries e.g.:
com.google.android.gms:play-services-cast-framework:17.1.0
com.google.firebase:firebase-config:19.0.2
com.google.android.datatransport:transpo

[2019-10-08 16:59] hoangdangduy commented on #6
@jfschmakeit   I'm still not yet upload file .mkv done from my code . If you have sample code upload file mkv in project so can it be run show for me. ?
Thanks so much!

[2019-10-13 10:11] bubbleguuum commented on #22
It's specifically newer versions of firebase-config that cause this problem, because it adds a dependency on com.google.protobuf:protobuf-lite:3.0.1 which is incompatible with protobuf-java used by java-photoslibrary.

A workaround seems to exclude protobuf-lite from remote-config:

[code]

I have not seen any side-effect on remote-config with this, although this is really band-aid.

[2019-10-24 14:29] hurricup opened #23 "Exception when creating client"
Working on desktop application working with google photos. Sometimes having an exception:
[code]

[2019-11-24 07:28] hoangdangduy opened #24 "Connection timeout and upload was completed but failed to finalize or get the result"
A near few days, I face problem with upload almost file video .mp4 will be connection time out or can't get result when upload success. When I upload video I see my internet work normally, speed upload is stable about 2 -> 3 Mb/s.

Is it seem google start set timeout shorter or change something in recently ? And how do the way resolve my problem was facing?

This is my log in catch exception.

[co

[2019-12-04 05:43] #6 closed

[2019-12-04 11:45] wmorland opened #25 "Unable to configure a proxy for the client"
When creating HttpClients the code just calls `HttpClientBuilder.create().build();` e.g. https://github.com/google/java-photoslibrary/blob/1ff35779cd018905dcaa35cff1a30308ff60b266/photoslibraryapi/src/main/java/com/google/photos/library/v1/upload/PhotosLibraryUploadCallable.java#L212

This means that it is not possible to configure a proxy when using the PhotosLibraryClient and if this is required

[2019-12-04 17:07] katrielalex commented on #23
Apparently this is an issue in gax-java so the fix here might be as simple as bumping the version: https://github.com/googleapis/google-cloud-java/issues/3912

[2019-12-21 14:03] #24 closed

[2019-12-21 14:20] hoangdangduy opened #27 "Does the java-photoslibrary provide api for function recovery storage ?"
I upload more file photo and video to my account google photo and come quickly full storage so I must manualy run  function recovery storage to renew my storage.
Whether java-photoslibrary can add api to do it ?
Thanks!

[https://photos.google.com/settings](url)
![recover storage](https://user-images.githubusercontent.com/8912039/71309074-338e0200-2436-11ea-9bc8-68b1e6884071.png)

[2020-01-02 00:13] jfschmakeit commented on #27
This is not a feature that is available through the Google Photos Library API. You can check [the documentation here](https://developers.google.com/photos) to see what features are supported.

[2020-01-02 00:13] #27 closed

[2020-01-16 12:07] wmorland commented on #25
Not sure who the best person to handle this is but would it be possible to publish a new release including this fix please? @Tmbao @katmle

[2020-02-23 01:07] ylexus commented on #23
@katrielalex actually I think think this happens because PhotosLibraryClient, after creating PhotosLibraryUploadStub via `PhotosLibraryUploadStubImpl.createStub(settings)`, never closes it. The PhotosLibraryStub does get closed via InternalPhotosLibraryClient#close(), but not the PhotosLibraryUploadStub.

[2020-03-19 15:57] jordond commented on #2
It's been over a year now, has there been any progress to adding native Android authentication yet?

[2020-03-28 12:52] ylexus opened #29 "Uploading a zero-length NEF file results in "com.google.api.gax.rpc.ApiException: java.lang.IllegalArgumentException: The upload was completed but failed to finalize or get the result""
Using google-photos-library-client 1.4.0. The following code:
[code]

if passed a zero-length file (in my the file name was DSC_4791.NEF, if that makes any difference), results in

[code]

Related to https://github.com/ylexus/jiotty-photos-uploader/issues/11.

[2020-04-07 11:17] wmorland commented on #25
This is now available in release v1.5.0 https://github.com/google/java-photoslibrary/releases/tag/v1.5.0

[2020-04-07 11:17] #25 closed

[2020-04-25 22:43] ylexus opened #30 "Impossible to interrupt a long-running media item upload"
`PhotosLibraryClient.uploadMediaItem()` is blocking uninterruptibly until the upload is complete. In a UI app it means the user is unable to cancel the upload process without killing the app.

<img width="513" alt="Screenshot 2020-04-25 at 23 38 50" src="https://user-images.githubusercontent.com/6009806/80292330-f1f7c580-874d-11ea-8c28-30588675e0c8.png">

Related to https://github.com/ylexus/jiott

[2020-05-05 14:08] zhang123cnn opened #31 "Exception passing in video uploading API"
Hey there,

In code like [below](https://github.com/google/java-photoslibrary/blob/1a75e4822b6ecec7d88e0bf7d61df8c4e76c79da/photoslibraryapi/src/main/java/com/google/photos/library/v1/upload/PhotosLibraryUploadCallable.java#L221), google API is only throwing a generic exception with a generic ENUM. This will not include information in the error response itself.

[code]

However, as API caller, we

[2020-06-05 22:10] ylexus opened #32 "NullPointerException in PhotosLibraryUploadCallable"
Using version 1.5.0.

One of users of my app have recently reported an issue (https://github.com/ylexus/jiotty-photos-uploader/issues/34#issuecomment-639217788) which was partially caused by a NPE in the google photos client. Seems like it assumes "X-Goog-Upload-Status" header should always be there but it was not. The API call was "uploadMediaItem".

[code]

[2020-06-19 16:04] rowanalex123 opened #33 "PhotosLibraryClient close failing"
When calling photosLibraryClient.close() I'm getting the below exception frequently. Any reason why?Running
[code]
does not seem to help as well. Please share your thoughts on how to fix this issue?

[code]

[2020-06-25 08:22] benju69 commented on #22
Same issue here with firebase performance with the 1.5.0

[2020-06-25 11:53] benju69 opened #34 "Can't build a release with 1.5.0"
I can't build a release with 1.5.0 version, no problem with 1.4.0
Firebase Performance seems to be the problem

[2020-06-26 01:59] hmallepally commented on #9
I found this to be a dependency issue. I have seen this problem and upon investigation, the code is internally trying to load android Application class with class.forName and if successful, it treats it as android and otherwise it is non android.

problem I saw was because some dependency I had android jar into my classpath (google guava android or so) so excluded that dependency and it worked pre

[2020-06-29 02:44] jfschmakeit commented on #9
@hmallepally Could you share some more details about the dependency issue? It would be great if you can share the exact dependency that's causing the problem. What did you have to exclude? Was this just `grpc-netty`?

(Note that this library is not tested/supported on Android yet. I believe some of our dependencies have Android-specific versions that may help address some of these issues too, othe

[2020-06-29 02:46] jfschmakeit commented on #34
@benju69 Could you share your build configuration, ie. your dependencies and build command? What is the exact error you are seeing?

[2020-06-29 02:48] jfschmakeit commented on #34
Actually, is this a dupe of issue #22  ?

[2020-06-30 09:23] benju69 commented on #34
I'm not sure but yes it's the same issue I think with Protobuf
Here is the stack trace
`
Stack trace:
com.android.tools.r8.errors.a: MethodHandle.invoke and MethodHandle.invokeExact are only supported starting with Android O (--min-api 26)
	at com.android.tools.r8.errors.a.a(:7)
	at com.android.tools.r8.ir.conversion.O.b(:58)
	at com.android.tools.r8.ir.conversion.O.a(:390)
	at com.android.tools.r

[2020-08-04 16:37] benju69 commented on #34
Same with 1.6.0

[2020-08-04 16:42] benju69 commented on #34
Just before this I got a dependency problem, can't reproduce now, if it can help:
Duplicate class found in modules jetified-protobuf-java-3.10.0.jar (com.google.protobuf:protobuf-java:3.10.0) and jetified-protobuf-javalite-3.11.0.jar (com.google.protobuf:protobuf-javalite:3.11.0

[2020-08-05 07:51] benju69 opened #36 "crash with last version grpc-okhttp (1.31.0)"
java.lang.NoClassDefFoundError: Failed resolution of: Lcom/squareup/okhttp/HttpUrl$Builder;
	at io.grpc.okhttp.OkHttpClientTransport.createHttpProxyRequest(OkHttpClientTransport.java:710)
	at io.grpc.okhttp.OkHttpClientTransport.createHttpProxySocket(OkHttpClientTransport.java:662)
	at io.grpc.okhttp.OkHttpClientTransport.access$1100(OkHttpClientTransport.java:108)
	at io.grpc.okhttp.OkHttpClientT

[2020-08-07 05:38] jfschmakeit commented on #36
What are your dependencies? It might be related to your issues in #34 ?

[2020-08-07 06:25] jfschmakeit commented on #34
Yes, this does sound like a duplicate of issue #22 - the protobuf dependencies clash with dependencies required by the Firebase SDK. (See [this comment](https://github.com/google/java-photoslibrary/issues/22#issuecomment-541405130) for a potential workaround.)

We'll see if we can investigate this again, but currently Android is not supported by this client library.

[2020-08-07 06:26] #34 closed

[2020-08-18 07:14] rowanalex123 opened #38 "Base urls expire before 60 minutes"
The Photos API docs indicate the direct media links/base urls [expire in 60 minutes](https://developers.google.com/photos/library/guides/access-media-items#base-urls). But the links seem to expire within 40 mins in some cases, return a 4xx when accessed.

[2020-08-18 08:31] rowanalex123 commented on #38
Example: this [base url](https://lh3.googleusercontent.com/lr/AFBm1_YU2JeoWYdxLzXLHp_Q5sIgRJEMG1V2d-rC9-6s03XRR5bGsJCzUvSSanXPf3osaSN9gTnj10dEeXChPxau-w4bJQSBmjtiCUdeAGfGmlVidOkzEZ3e3-mO7vIGPr1_TJJE9k-ZueuhIExXsvXv6l7MaFAvvUscxQHa5dyakVhAbs67sJARzPKpPcNC-6zVmdZLpAxkL_sMsGbMu2BZtkwT3rha2ajpYSI8qHFaO21P68Gwl17YDGeXwxbEdkRbcHxY6pshVscUTqusSeVNhAUIhCpihRqBK7aUAaf8F-NNko7nLRAcE1Ithc-DjEcEYd5qY-ei0WryYp

[2020-08-18 08:43] rowanalex123 commented on #38
Posted the issue here - https://issuetracker.google.com/issues/165028980

[2020-09-11 17:06] bubbleguuum commented on #22
Still a problem to this day.

The workaround I mentioned in second post does not work: it will remove compilation error due to duplicate protobuf classes but firebase-config will does not work properly (fail to fetch values).

You cannot use java-photoslibrary in conjunction with any library that needs com.google.protobuf:protobuf-javalite such as some firebase library. For remote config, you can

[2020-10-24 21:43] ylexus opened #39 "UploadMediaItem fails with cryptic error when the file length is zero"
When a file length is zero, uploading it causes this exception:
[code]
I think PhotosLibraryUploadCallable should handle it better and fail fast with a more descriptive error.

[2020-12-30 16:18] mixin82 commented on #23
That's correct @ylexus. The issue manifests itself after the GC collects ManagedChannelOrphanWrapper instances and we then want to create or close another connection. Here's a way to reproduce this issue:
[code]
I think it's the same as issue #33. Here's a slightly different way to reproduce that:
[code]
I did a change to close the uploadStub when PhotosLibraryClient closes and that should resolve

[2021-01-14 05:19] jfschmakeit commented on #23
Just following up in the pull request before we can merge, but thanks for the investigation and the pull request @mixin82 !

[2021-01-15 08:32] QiAnXinCodeSafe opened #41 "There is a vulnerability in Apache HttpComponents Client(aka Apache HttpClient 4.5.10,upgrade recommended"
https://github.com/google/java-photoslibrary/blob/588f7e70939bf4b8c47a7f88e5a3a5272e055393/photoslibraryapi/build.gradle#L57

CVE-2020-13956

Recommended upgrade version：4.5.13

[2021-01-23 22:35] ylexus opened #42 "When deprecated UploadMediaItemRequest.fileName is omitted, Google responds with HTTP 500"
uploadMediaItem fails if the deprecated UploadMediaItemRequest.fileName is omitted. Workaround is to supply some value there, and then also specify the file name in NewMediaItem too - that last one is then used, and UploadMediaItemRequest.fileName is ignored.

Here's the DEBUG level request and response:
[code]

[2021-02-10 03:47] jfschmakeit commented on #42
I haven't been able to reproduce this. Calling only `setFileName` on a `NewMediaItem` and omitting the file name from the `UploadMediaItemRequest` seems to work as expected. (Per the [documentation](https://developers.google.com/photos/library/guides/upload-media#uploading-bytes) and the sample app.)

Could you post a code snippets that shows the calls to the API and the construction of the releva

[2021-02-10 19:54] ylexus commented on #42
The code is in https://github.com/ylexus/jiotty/blob/master/jiotty-connector-google/jiotty-connector-google-photos/src/main/java/net/yudichev/jiotty/connector/google/photos/GooglePhotosClientImpl.java, methods `uploadMediaData` and `createMediaItems`. Particularly, line 62.
If you need a reproducible scenario, then
1. ensure JAVA_HOME points to jdk 14.
1. clone https://github.com/ylexus/jiotty-pho

[2021-02-10 20:04] ylexus commented on #42
Just tried and it' still perfectly reproducible.

[2021-02-11 19:56] DennyWeinberg commented on #9
[code]

[2021-02-12 02:39] #23 closed

[2021-02-12 02:39] #33 closed

[2021-02-12 05:27] jfschmakeit commented on #41
Dependencies have been updated as part of the v1.6.1 release.

[2021-02-12 05:27] #41 closed

[2021-02-15 02:47] jfschmakeit commented on #42
The issue is that you are not supplying a mime type in your `UploadMediaItemRequest`. You need to call `.setMimeType(..)` with the mime type of the file you are uploading. When this property is set, you do not need to include the deprecated filename property for the upload call to work.

(I have confirmed that I'm getting the same error when making an upload call without setting the mime type.)

I

[2021-02-15 02:47] #42 closed

[2021-02-20 16:09] ylexus commented on #42
@jfschmakeit according to https://developers.google.com/photos/library/guides/upload-media#uploading-bytes, "X-Goog-Upload-Content-Type" is recommended, but not mandatory.

Apparently, in practice either "X-Goog-Upload-Content-Type" or "X-Goog-Upload-File-Name" is required. Sounds like an undocumented feature, or is, indeed, a bug on the Google serve side. Anything we can do to let them know?

[2021-05-14 05:18] jfschmakeit commented on #39
The error is actually descriptive - the file was technically uploaded, but the Library API did not return a usable result (ie. an `uploadToken`). This could have different reasons , including an invalid file like in this case.  Here the client library is mirroring the behaviour of the Library API itself and is passing through the response.

However -  I agree that it would be nicer to fail early,

[2021-05-14 05:20] jfschmakeit commented on #38
We are tracking this issue in the Library API issue tracker - https://issuetracker.google.com/issues/165028980

[2021-05-14 05:20] #38 closed

[2021-05-14 06:15] jfschmakeit commented on #36
This does sound somewhat related to #34.

Please reopen if you are still seeing this and provide your full dependency list. Note that this client library does not currently work with the `lite` versions of GRPC and related libraries which may be getting pulled in as part of the Firebase dependencies that you mentioned in #34. (The okhttp dependency seems to be required by the `firebase-perf` menti

[2021-05-14 06:15] #36 closed

[2021-05-14 07:12] jfschmakeit commented on #32
Yes, there is an assumption that the API always returns the `UPLOAD_STATUS_HEADER` field. I'm not sure when this could fail, but it makes sense to avoid this NullPointerException at least.

I'm preparing a change that will throw an `IllegalStateException` and guard against the NPE, similar to how other unexpected upload statuses are handled.

[2021-05-23 09:44] ylexus commented on #30
Any chance this can be improved?

[2021-05-24 07:15] jfschmakeit commented on #30
We are currently working on some major improvements to the upload flow in the client library - in particular around retries and error handling. This sounds like something that should be considered as well.

You can also configure a timeout for upload calls that cancels any in-progress requests.

(Ideally, calling `.cancel(..)` on the `ApiFuture` returned by making a call through the `PhotosLibrary

[2021-08-22 20:01] shreelakshmijoshi commented on #32
Hi @ylexus !
I am a new open source contributor and would love to solve this issue, could you help me understand the issue better by providing some extra references ?
Is this is issue open to contribute ?

[2021-08-23 09:04] ylexus commented on #32
@shreelakshmijoshi seems like @jfschmakeit has already started working on this - can you liaise with them? I am a issue reporter, I am not familiar with the design of the library to help.

Not sure what you mean by providing extra references.

[2021-08-24 03:37] #31 closed

[2021-08-24 03:37] #32 closed

[2021-08-24 03:37] #39 closed

[2021-08-24 06:13] jfschmakeit commented on #30
The behaviour around this has been improved in the latest release (1.7.0): https://github.com/google/java-photoslibrary/releases/tag/v1.7.0

You should now be able to cancel (and interrupt) long running media uploads. Please file a new issue if you are having issues with this behaviour after upgrading to the latest version.

[2021-08-24 06:13] #30 closed

[2021-10-10 17:04] ylexus opened #43 "Impossible to interrupt a long-running media item upload if invoked via blocking method"
As per https://github.com/google/java-photoslibrary/issues/30#issuecomment-904352898, I can confirm that interrupting the upload via interrupting the thread blocked on
`client.uploadMediaItemCallable().futureCall(uploadRequest).get()`
works.
However, as before, both
`client.uploadMediaItem()`
and
`client.uploadMediaItemCallable().call(uploadRequest)`
block uninterruptibly,
because `ApiExceptions.c

[2021-11-09 15:27] Usergri opened #44 "listMediaItems() method from PhotosLibraryClient.java returns duplicated entries"
It was discovered during integration with Google Photos using java-photoslibrary, please see its details

<groupId>com.google.photos.library</groupId>
<artifactId>google-photos-library-client</artifactId>
 <version>1.7.0</version>

For example, real test account has 468 files in Photos App, although Photos library returns 476 files. When the real list of files on Google Photos was compared with th

[2021-12-16 08:54] GambitDev opened #45 "java.lang.NoClassDefFoundError when attempting to create the PhotosLibraryClient"
Hi
I have encountered a very strange crash while using this library, trying to create a client using ```PhotosLibraryClient.initialize(clientSettings)``` crashes the app with the following stack (I have removed paths mentioned in it and changed my package name)

[code]
After digging a bit into it, it seems that the CallCredentials2 class does not exists.
From the source code:
[code]
After a quick

[2022-01-18 07:44] gavingt commented on #45
@GambitDev Did you figure out a workaround for this?

[2022-01-18 08:13] GambitDev commented on #45
@gavingt Yeah there is definitely a bug in this library
Apparently as I thought this class was removed from the grpc libraries
So we have to use an older version for this class to exist..
Changing this:
[code]
to this:
[code]
Solved it for me
I have to note that it is extremely discouraging to find a bug like this in an official google library,
Especially when I get no replies for nearly 2 months

[2022-01-18 08:15] gavingt commented on #45
I came to the same conclusion. Actually, `1.42.2` seems to be the most recent working version.

[2022-01-19 07:35] jfschmakeit commented on #45
This issue is actually related to some underlying dependencies and the GRPC-java API library we use - there have been some changes in the `grpc` and `gax` libraries that caused this to break.

For now, please use the `io.grpc` dependencies and versions as specified for this library.

We already have an update in the works that will address this and some other related issues shortly. Thank you for

[2022-01-31 03:02] jfschmakeit commented on #45
This has been addressed in c3a35d77cdc9eb1c8f175a67588b73197a273f03 - we are aiming to roll this into a new release shortly.

If you are using the [Java Google OAuth Library with HTTP features](https://github.com/googleapis/google-auth-library-java#google-auth-library-oauth2-http) to obtain credentials, you will also need to specify this now explicitly as a dependency in your project.

[2022-02-07 06:19] jfschmakeit commented on #45
We have released [version 1.7.2](https://github.com/google/java-photoslibrary/releases/tag/v1.7.2), which includes a fix for this issue and updated dependencies.

Please reopen this issue if you are still seeing this error after upgrading your dependency. Thanks!

[2022-02-07 06:19] #45 closed

[2022-03-05 18:39] asteven5 opened #46 "Add Video Duration to Photos API"
The Google Photos API does not return video duration. I would expect the API to return the length of the clip in minutes and seconds.

It would be very useful for a variety of reasons in different applications. Please make this available.

[2022-03-07 05:44] jfschmakeit commented on #46
The Google Photos Library API does not return the duration of videos, that is why the client library also does not currently support this functionality.

There is a feature request open on the Library API issue tracker, please "star" it (or use the `+1` button) on this request here to draw attention to it and be notified of any updates: https://issuetracker.google.com/123979425

Thank you!

(I'm c

[2022-03-07 05:44] #46 closed

[2022-09-07 05:09] nikhil6624 commented on #44
@Grinchenkolina , May I work on this issue? I found the potential root cause of this issue.

[2022-09-07 16:05] Grinchenkolina commented on #44
@nikhil6624, it'll be good to have this issue fixed, thanks.

[2022-09-07 16:12] nikhil6624 commented on #44
I'll start working on it @Grinchenkolina . :)
I have submitted the CLA as well by visiting https://cla.developers.google.com/.

[2022-10-30 14:38] nikhil6624 commented on #44
@Grinchenkolina , I have resolved this issue. Which branch should I choose to push those changes to? Also I'm UNABLE to create a new branch for this issue fix so that I can raise a pull request from that branch. Could you please help me create a branch for pushing those fixes??
![image](https://user-images.githubusercontent.com/37448485/198884484-81ce92a1-4124-46a4-bb72-d843f9bf2890.png)

[2022-10-30 14:42] nikhil6624 commented on #44
@Grinchenkolina , Here's the error I'm getting when I use the Git command line for created a remote tracking branch,
![image](https://user-images.githubusercontent.com/37448485/198884710-89b144f6-b2dc-47dd-92f2-2b06fb8e67ae.png)

[2022-10-31 18:56] Grinchenkolina commented on #44
Hi @nikhil6624, the matter is that I'm not a contributor of this repo. I'm a user of this library who faced this issue.

[2022-11-02 15:21] shayerov opened #47 "Unable to use library with grpc-okhttp"
I'm trying to use this library for Android development. However, when using it together with grpc-okhttp I get the following error when trying to upload media bytes:
`com.google.api.gax.rpc.ApiException: java.lang.NoSuchFieldError: No static field INSTANCE of type Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier; in class Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier; or its superclasses (d